p {
    text-align: left;
}


h6 {
    text-align: left;
    font-weight: bold;
    
}


h4, h5 { 
    text-align: center;
 
}


#navbar {

    background-color: #A3C5CF;
    float: center;
    text-align: center;
    color: white;
    padding-right: 40px;
    padding-left: 40px;
}

#navbar li {
    display: inline;
    padding: 1em;
   
}
ul {
    list-style: none;
    margin: 0px 5px;
}

ul li {
    display: inline;
}

ul li a {
    color: white;
    background:#A3C5CF;

}

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}
  /* Centre the page */
.body {
    display:block;
    margin:0 auto;
    width:576px;
}


form {
    margin:0 auto;
    width:459px;
    background: #A3C5CF;
}


input, textarea {
	width:439px;
	height:27px;
	background-color: white;
	border:1px solid white;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}
#center-align {
    margin-left: 850px;
    color: #A3C5CF;

}